html, body {
  margin: 80px;
  padding: 0 px 70px;
  height: 100%;
  width: 100%;
}
button{
    padding: 10px 10px;
        display: inline-block;
        color: #008000;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 20px;
        overflow: hidden;
}

button:hover{
  color: #111;
        background: #14d8ff;
        box-shadow: 0 0 50px #14d8ff;
    }
  
}
